div.css-1me30nu.e1tzin5v2{
    background-color: #f5f5f5;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: #ffc300;
    box-shadow: 10px;
}

div.css-1wivap2.e16fv1kl3{
    font-weight: 900;
}