/*sidebar*/

/*container*/
div.css-6qob1r.e1fqkh3o3{
    background-color: #DEE7F1;
}

/*text*/
div.css-1pd56a0.e1tzin5v0{
    background-color: #DEE7F1;
    color: #033267;
}

/*tabs*/
div.css-900wwq.e1j25pv62{
    background-color: #DEE7F1;
    color: #033267;
    border: 2px solid black;
    padding: 5px 5px 5px 1px;
    border-radius: 10px;
}



